{% extends 'Layout.html.twig' %}

{#      the view title      #}
{% block title controller_name %}

{#      The view style sheet    #}
{% block stylesheets %}
{% endblock %}


{#      the title h1 of the view   #}
{% block h1 "Hello "~ controller_name %}

{% block body %}

    <div id="content" class="bg-white container-fluid">
        Page {{ route }}
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey |trans(error.messageData, 'security')}}
            </div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">

            <div class="form-group">
                <label>User name : </label>
                <input type="text" class="form-control" value="{{ lastUserName }}"
                       required name="_username"
                >
            </div>
            <div class="form-group">
                <label>Password : </label>
                <input type="password" class="form-control"
                       required name="_password"
                >
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Login</button>
            </div>
        </form>
    </div>
{% endblock %}


{#      The view JavaScript    #}
{% block javascripts %}{% endblock %}


